python==3.9.16
scikit-learn==1.2.2
shap==0.41.0
streamlit-shap==1.0.2
numba==0.56.4
numpy==1.23.5
xgboost==1.7.3
streamlit==1.17.0
chardet==5.1.0
matplotlib==3.4.3
umap-learn==0.5.3
pandas==1.5.3
datashader==0.14.3
bokeh==2.4.3
holoviews==1.15.3
scikit-image==0.19.3
colorcet==3.0.1
plotly==5.13.0

